* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #212121;
  --dark2: #272727;
  --dark3: #323232;

  --silver: #ddd;

  --white: #f4f4f4;
  --green: #005e34;
}


html, body {
  width: 100%;
  min-height: 100vh;

  background-color: var(--dark);
  color: var(--silver);

  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  flex: 1;
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  background-color: var(--dark2);

  display: flex;
  flex-direction: column;
}

.header {
  min-height: 45px;
}

.main {
  flex: 1;
}

.footer {
  min-height: 45px;
}

